{% extends "employees/base.html" %}

{% block title %}Delete Department | EmployeeHub{% endblock %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-lg-6">

        <div class="card border-0 shadow-sm">

            <div class="card-body p-4">

                <h3 class="fw-bold">
                    Delete Department
                </h3>

                <p class="text-muted">
                    Are you sure you want to delete
                    <strong>{{ department.name }}</strong>?
                </p>

                <form method="post">

                    {% csrf_token %}

                    <button
                        type="submit"
                        class="btn btn-danger"
                    >
                        Yes, Delete
                    </button>

                    <a
                        href="{% url 'employees:department_list' %}"
                        class="btn btn-light"
                    >
                        Cancel
                    </a>

                </form>

            </div>

        </div>

    </div>

</div>

{% endblock %}
